{% extends 'admin/layout.html' %}

{% set title = 'Shop Admin | Alle Biere' %}
{% set current_nav = 'Biere'%}

{% block css %}
<style>
table{
  width:100%;
}
 @media screen and (max-width: 620px){
    tr th:nth-child(3),tr td:nth-child(3){

      display:none;
    }
     tr th:nth-child(4),tr td:nth-child(4){

      display:none;
    }
}
</style>
{% endblock %}

{% block body %}
{% if error %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error:</strong> {{ error }}
  </div>
  {% endif %}
  
  {% if success %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Erfolg:</strong> {{ success }}
  </div>
  {% endif %}

 <div class="list-group">
  <a href="/admin/beer/add" class="list-group-item text-center list-group-item-action">
    <i class="fa fa-plus" aria-hidden="true"></i> Bier hinzufügen
  </a>
</div>
{% if beerList|length > 0 %}
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" width="10%">Prod#</th>
      <th scope="col">Name</th>
      <th scope="col">Alc</th>
      <th scope="col">Preis</th>
      <th scope="col">Stock</th>
      <th scope="col" width="10%">Status</th>
       <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	{%for beer in beerList%}
    <tr>
       <th scope="row">{{beer.id}}</th>
      <th>{{beer.name}}</th>
      <td>{{beer.alc}}</td>
      <td>{{beer.price}}</td>
      <td>{{beer.stock}}</td>
      <td>
      {%if beer.enabled == False %}   
      <span class="badge badge-secondary">Deaktiviert</span>
      {%else%}
      <span class="badge badge-primary">Aktiviert</span>
      {%endif%}
      </td>
      <td><a href="/admin/beers/details/{{beer.id}}"><button type="button" class="btn btn-primary btn-sm form-control"><i class="fa fa-pencil" aria-hidden="true"></i> Bearbeiten
      </button></a>
  	  </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{%else%}


<h1 class="text-center text-muted" style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: -1;">Keine Biere</h1>

{%endif%}

{% endblock %}

{% block js %}
{% endblock %}