{% extends 'admin/layout.html' %}

{% set title = 'Shop Admin | Bier' %}
{% set current_nav = 'Neu'%}

{% block css %}
{% endblock %}

{% block body %}

<div class="container" style="padding-bottom: 70px; padding-top: 20px">
  
<div class="card text-white bg-info mb-3">
  <div class="card-body">
    <h4 class="card-title">Info:</h4>
    <p class="card-text">Hier erstellst du ein neues Bier für deinen Shop. AlcShop wird gleichzeitig ein neues Produkt und eine dazugehörige SKU auf <a href="https://dashboard.stripe.com/test/products">Stripe.com</a> erstellen. Um das Produkt zu verkaufen, musst du es danach noch manuell unter "Alle Biere" auswählen und aktivieren.</p>
  </div>
</div>

<div class="card">
        <form action="/admin/beer/create", method="post">
        <h4 class="card-header">Produktdetails<br/>
          <input type="text" name="name" value="" placeholder="Bier Name" class="form-control" required>
        </h4>
        <div class="card-body">
          <h6 class="card-title">Preis
                 <div class="input-group">
                   <input type="number" step="0.05" name="price" value="" placeholder="Preis" class="form-control" required>
                <div class="input-group-addon">CHF</div>
              </div>    
          </h6>
          <h6 class="card-title">Alc.
                <div class="input-group">
                  <input type="number" step="0.01" name="alc" value="" placeholder="Alkoholgehalt" class="form-control" required>
                <div class="input-group-addon">Vol.-%</div>
              </div>
          </h6>
          <h6 class="card-title">Grösse
                <div class="input-group">
                  <input type="number" step="10.00" name="size" value="" placeholder="Grösse" class="form-control" required>
                <div class="input-group-addon">ml</div>
              </div>
          </h6>
          <h6 class="card-title">Stock
                <div class="input-group">
                  <input type="number" step="1" name="stock" value="" placeholder="Stock" class="form-control" required>
                <div class="input-group-addon">Flaschen</div>
              </div>
          </h6>

        </div>
         <div class="card-body">
          <p class="card-text">Details: 
            <textarea class="form-control" id="exampleTextarea" name="description" rows="3"></textarea>
          </p>
        </div>

        <div class="card-footer text-muted">
           <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Bier Speichern</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        </div>   
      </div>
</div>




</div>





{% endblock %}

{% block js %}
{% endblock %}