{% extends 'admin/layout.html' %}

{% set title = 'Shop Admin | Bier' %}
{% set current_nav = 'Details'%}

{% block css %}
{% endblock %}

{% block body %}

<div class="container" style="padding-bottom: 70px;">
{% if error %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error:</strong> {{ error }}
  </div>
  {% endif %}
  
  {% if success %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Erfolg:</strong> {{ success }}
  </div>
  {% endif %}
<div class="row" style="padding-top: 20px;">
  <div class="col-lg-4 mx-md-auto" style="padding-bottom: 20px;">
    
   <div class="card" style="">
        <form action="/admin/beer/modify/{{beer.id}}", method="post">
        <h4 class="card-header">Produktdetails<br/>
          <input type="text" name="name" value="{{beer.name}}" placeholder="Bier Name" class="form-control" required>
        </h4>
        <div class="card-body">
          <h6 class="card-title">Preis
                 <div class="input-group">
                   <input type="number" step="0.05" name="price" value="{{beer.price}}" placeholder="Preis" class="form-control" required>
                <div class="input-group-append">
                    <span class="input-group-text">CHF</span>
                </div>
              </div>    
          </h6>
          <h6 class="card-title">Alc.
                <div class="input-group">
                  <input type="number" step="0.01" name="alc" value="{{beer.alc}}" placeholder="Alkoholgehalt" class="form-control" required>
                 <div class="input-group-append">
                    <span class="input-group-text">Vol.-%</span>
                </div>
              </div>
          </h6>
          <h6 class="card-title">Grösse
                <div class="input-group">
                  <input type="number" step="10.00" name="size" value="{{beer.size}}" placeholder="Grösse" class="form-control" required>
                 <div class="input-group-append">
                    <span class="input-group-text">ml</span>
                </div>
              </div>
          </h6>
         <h6 class="card-title">Status</h6>
          <div class="form-check input-group">
                <label class="form-check-label">
                {%if beer.enabled%}
                <input type="checkbox" class="form-check-input" name="active" checked>
                {%else%}
                <input type="checkbox" class="form-check-input" name="active">
                {%endif%} 
                Aktiv
              </label>
            </div>


        </div>
        {% if beer.img == "" %}
        <img class="img-thumbnail" style="height: auto; width: 100%; display: block;" src="http://placeholder.pics/svg/200x200/DEDEDE/FFFFFF-FFFFFF/%20" >
        {% else %}
        <img class="img-thumbnail" style="height: auto; width: 100%; display: block;" src="/{{beer.img}}" >
        {% endif %}
        <div class="card-body">
          <p class="card-text">Details: 
            <textarea class="form-control" id="exampleTextarea" name="description" rows="3">{{beer.description}}</textarea>
          </p>
        </div>

        <div class="card-footer text-muted">
           <button type="submit" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Änderungen Speichern</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        </div>   
      </div>

  </div>
  <div class="col-lg-4 mx-md-auto" style="padding-bottom: 20px;">

    <div class="card">
    <div class="card-body">
    <h4 class="card-title">Produktbild</h4>
    <h6 class="card-subtitle mb-2 text-muted">Lade hier ein neues Produktbild hoch.</h6><br/>
      <form action="/admin/beer/img/{{beer.id}}" method="post" enctype=multipart/form-data>
        <input type="file" name="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"><br/>
        <button type="submit" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> Bild Hochladen</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      </form>
  </div>
</div>



<div class="card">
  <div class="card-body">
    <h4 class="card-title">Stripe SKU</h4>
    <h6 class="card-subtitle mb-2 text-muted">Ändere die SKU Referenz zu Stripe.com</h6>
     <p class="text-danger">Diese Einstellung sollte nur geändert werden, wenn es unbedingt nötig ist.</p>
  </div>
  <div class="card-body">
    Aktuelle SKU: <strong>{{beer.stripe_sku}}</strong>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <form action="/admin/beer/sku/modify/{{beer.id}}" method="post" class="form-inline">
      <div class="input-group">
            <input type="text" name="sku" value="{{beer.stripe_sku}}" placeholder="SKU" class="form-control  mb-2 mr-sm-2 mb-sm-0" required>
             <button type="submit" class="btn btn-primary"><i class="fa fa-sync" aria-hidden="true"></i></button>
          </div>   
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>    
      </form>
    </li>
  </ul>
</div>




  </div>
  <div class="col-lg-4 mx-md-auto" style="padding-bottom: 20px;">
    

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Produktstock</h4>
    <h6 class="card-subtitle mb-2 text-muted">Ändere den Stock des Produktes</h6>
  </div>
  <div class="card-body">
    Aktueller Stock: <strong>{{beer.stock}}</strong>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <form action="/admin/beer/stock_add/{{beer.id}}" method="post" class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
           <span class="input-group-text"><i class="fa fa-plus" aria-hidden="true"></i></span>	
        </div>
            <input type="number" step="1" name="add" value="0" min="0" placeholder="Hinzufügen" class="form-control  mb-2 mr-sm-2 mb-sm-0" required>
             <button type="submit" class="btn btn-primary"><i class="fa fa-sync" aria-hidden="true"></i></button>
          </div>   
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>    
      </form>
    </li>
    {%if not beer.stock <= 0%}
    <li class="list-group-item">
       <form action="/admin/beer/stock_remove/{{beer.id}}" method="post" class="form-inline">
        <div class="input-group">
        <div class="input-group-prepend">
           <span class="input-group-text"><i class="fa fa-minus" aria-hidden="true"></i></span>	
        </div>
            <input type="number" step="1" name="remove" value="0" min="0" placeholder="Hinzufügen" class="form-control  mb-2 mr-sm-2 mb-sm-0" required>
            <button type="submit" class="btn btn-primary"><i class="fa fa-sync" aria-hidden="true"></i></button>
          </div>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>    
      </form>
    </li>
    {%else%}
    {%endif%}
  </ul>
</div>


  </div>
</div>

</div>

{% endblock %}

{% block js %}
{% endblock %}
