{% extends 'admin/layout.html' %}

{% set title = 'Shop Admin | Abgeschlossene Bestellungen' %}
{% set current_nav = 'Abgeschlossen' %}

{% block css %}
<style>
table{
  width:100%;
}
 @media screen and (max-width: 620px){
    tr th:nth-child(2),tr td:nth-child(2){

      display:none;
    }
     tr th:nth-child(4),tr td:nth-child(4){

      display:none;
    }
}
</style>
{% endblock %}

{% block body %}

{% if closedOrders|length > 0 %}
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Best.-Nr.</th>
      <th scope="col">Payment ID</th>
      <th scope="col">Payment Datum</th>
      <th scope="col">Payment Typ</th>
      <th scope="col">Status</th>
      <th scope="col">Versandart</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {%for order in closedOrders%}
    <tr>
      <th scope="row">{{order.id}}</th>
      <td>{{order.order_id}}</td>
      <td>{{order.order_date}}</td>
      <td>{{order.order_type}}</td>
      <td>
      {%if order.is_finished == False %}   
      <span class="badge badge-danger">Offen</span>
      {%else%}
      <span class="badge badge-success">Abgeschlossen</span>
      {%endif%}
      </td>
      <td>
      {%if order.is_shipment == False %}   
      <span class="badge badge-info">Abholung</span>
      {%else%}
      <span class="badge badge-info">Lieferung</span>
      {%endif%}
      </td>
      <td><a href="/admin/orders/details/{{order.id}}"><button type="button" class="btn btn-primary btn-sm form-control"><i class="fa fa-pencil" aria-hidden="true"></i> Bearbeiten
      </button></a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>


{%if closedOrders|length < 25 and page == 1%}
  <!--NOTHING-->
  {%elif closedOrders|length == 25 and page == 1%}
  <a href="/admin/orders/closed/{{page + 1}}"><button type="button" class="btn btn-primary">Zurück <i class="fa fa-angle-right" aria-hidden="true"></i></button></a>
  {%elif closedOrders|length < 25%}
  <a href="/admin/orders/closed/{{page - 1 }}"><button type="button" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Vorwärts</button></a>
  {%else%}
  <a href="/admin/orders/closed/{{page - 1 }}"><button type="button" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Vorwärts</button></a>
  <a href="/admin/orders/closed/{{page + 1}}"><button type="button" class="btn btn-primary">Zurück <i class="fa fa-angle-right" aria-hidden="true"></i></button></a>
  {%endif%}


{%else%}


<h1 class="text-center text-muted" style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: -1;">Keine abgeschlossenen Bestellungen</h1>



{%endif%}

{% endblock %}

{% block js %}
{% endblock %}