{% extends 'admin/layout.html' %}

{% set title = 'Shop Admin | Details' %}
{% set current_nav = 'Details'%}

{% block css %}
<style>
.borderless tfoot td, .borderless tfoot th {
    border: none;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Bestellung</h1>

	    <h3><i class="fa fa-info-circle" aria-hidden="true"></i> Bestelldetails</h3>
	    <ul class="list-group">
	    	<li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Bestellnummer:</strong></span>
		    {{orderDetails.id}}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>ID:</strong></span>
		    {{orderDetails.order_id}}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Bestelltyp:</strong></span>
	  		{{orderDetails.order_type}}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Bestelldatum:</strong></span>
	  		{{orderDetails.order_date}}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Versandart:</strong></span>
		    {%if orderDetails.is_shipment %}
		    	<span class="badge badge-info">Lieferung</span>
		    {%else%}
		    	<span class="badge badge-info">Abholung</span>
		    {%endif%}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Status:</strong></span>
		    {%if orderDetails.is_finished %}
		    	<span class="badge badge-success">Abgeschlossen</span>
		    {%else%}
		    	<span class="badge badge-danger">Offen</span>
		    {%endif%}
		  </li>
		</ul>
		<hr/>
		<br/>

	    <h3><i class="fa fa-address-card" aria-hidden="true"></i> Kundendetails</h3>
	    <ul class="list-group">
	    	<li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Name:</strong></span>
		    {{ paymentObject["payer_name"] }}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Email:</strong></span>
		   {{ paymentObject["payer_email"] }}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Adresse:</strong></span><br/>
		    {{ paymentObject["payer_line1"] }}<br/>
		    {{ paymentObject["payer_postcode"] }} {{ paymentObject["payer_city"] }}
		  </li>
		</ul>
		<br/>
		<form action="/admin/orders/modify_note/{{orderDetails.id}}" method="post">
		<div class="form-group">
	      <label for="exampleTextarea">Notizen:</label>
	      <textarea class="form-control" id="exampleTextarea" name="notes" rows="3">{{orderDetails.order_note}}</textarea>
	    </div>
	    <button type="submit" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Notiz speichern</button>
	    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	    </form>
		<br/>
		<hr/>
		<br/>
	  	<h3><i class="fa fa-shopping-basket" aria-hidden="true"></i> Artikel</h3>
		<table class="table table-striped table-hover table-bordered borderless">
		  <thead class="thead-dark">
		    <tr>
		      <th width="10%">SKU / ID</th>
		      <th>Name</th>
		      <th width="10%">Menge</th>
		      <th>Einzelpreis</th>
		      <th>Subtotal</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{%for item in paymentObject["items"]%}
			<tr>
			  <td>{{ item["parent"] }}</td>
		      <td>{{ item["description"] }}</td>
		      <td>{%if item["quantity"] != None %}{{ item["quantity"] }}{% else %}-{%endif%}</td>
		      <td>{%if item["quantity"] != None %}{{ '%0.2f' % (item["amount"]/100/item["quantity"])|float }}{% else %}-{%endif%}</td>
		      <td>{{ '%0.2f' % (item["amount"]/100)|float }}</td>
		    </tr>
			{%endfor%}
		  </tbody>
		   <tfoot>
		    <tr>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td><strong><i class="fa fa-money" aria-hidden="true"></i> Total: {{ '%0.2f' % (paymentObject["total_cost"]/100)|float }} CHF</strong></td>
		    </tr>
  </tfoot>
		</table> 
	  <br/>

	  {% if orderDetails.is_finished %}
	  <form action="/admin/orders/modify/{{orderDetails.id}}" method="POST">
	  	 <button type="submit" class="btn btn-warning"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Bestellung wiedereröffnen</button>
	  	 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	  </form>
	  {% else %}
	  <form action="/admin/orders/modify/{{orderDetails.id}}" method="POST">
	  	 <button type="submit" class="btn btn-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Bestellung abschliessen</button>
	  	 <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	  </form>
	  {% endif %}
	</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}