{% extends 'admin/layout.html' %}

{% set title = 'Shop Admin | Suchresultat' %}
{% set current_nav = 'Suche'%}

{% block css %}
{% endblock %}

{% block body %}

{% if result != False %}
<div class="container">
  <br/>
  <h3><i class="fa fa-search" aria-hidden="true"></i> Ergebnis für die Suche:</h3><br/>

  <div class="card">
  <div class="card-body">
    <h4 class="card-title">Best.-Nr.: {{result.id}}</h4>
    Payment ID: {{result.order_id}}<br/>
    {%if result.is_finished %}
       Status: <span class="badge badge-success">Abgeschlossen</span><br/>
    {%else%}
        Status: <span class="badge badge-danger">Offen</span><br/>
    {%endif%}
    Datum: {{result.order_date}}<br/>
    <a href="/admin/orders/details/{{result.id}}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Bearbeiten</a>
  </div>
</div>

</div>
{%else%}
<h1 class="text-center text-danger" style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: -1;"><i class="fa fa-frown-o" aria-hidden="true"></i> Keine passende Bestellung gefunden</h1>
{%endif%}






{% endblock %}

{% block js %}
{% endblock %}