<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{{ title }}</title>
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
		{% block css %}
		{% endblock %}
		<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="/admin/orders/open">JJ's Homebrew Admin - {{current_nav}}</a>
		   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
 			</button>
 			  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="/admin/orders/open"><i class="fa fa-exclamation" aria-hidden="true"></i> Offene Bestellungen</a>
		      </li>
		      <li class="nav-item">
		         <a class="nav-link" href="/admin/orders/closed"><i class="fa fa-check" aria-hidden="true"></i> Abgeschlossene Bestellungen</a>
		      </li>
		      <li class="nav-item">
		         <a class="nav-link" href="/admin/beers"><i class="fa fa-beer" aria-hidden="true"></i> Alle Biere</a>
		      </li>
		    </ul>

		    <ul class="nav navbar-nav ml-auto">
				    <form class="form-inline my-2 my-lg-0" action="/admin/orders/find", method="post">
					      <input class="form-control mr-sm-2" type="number" min="1" name="order" placeholder="Bestellung Suchen (Best.-Nr.)">
					      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					</form>
		            <li class="nav-item">
		               <li><a class="nav-link" href="/admin/logout"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Logout</a></li>
		            </li>
		          </ul>
		  </div>
		</nav>

		{% block body %}
		{% endblock %}  

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		{% block js %}
		{% endblock %}

	</body>
</html>
