{% extends 'layout.html' %}

{% set title = 'Shop' %}

{% set basket_size = basket_size %}

{% block css %}
<style>
.container {
	padding-bottom: 90px;
	padding-top: 10px;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:25%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}


</style>
{% endblock %}
{% block body %}

<div class="container">
    {% if error %}
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error:</strong> {{ error }}
    </div>
    {% endif %}
<table id="cart" class="table table-hover table-sm">
    <thead>
        <tr>
            <th style="width:30%">Produkt</th>
            <th style="width:10%">Preis</th>
            <th style="width:30%">Anzahl</th>
            <th style="width:30%" class="text-center">Subtotal</th>
        </tr>
    </thead>
    <tbody>
    	{%for item in basketDetails %}
        <tr>
            <td data-th="Produkt">
                <div class="row">
                    <div class="col-md-12">
                        	<h4 class="nomargin">{{item.name}}</h4>
                    </div>
                </div>
            </td>
            <td data-th="Preis">{{ '%0.2f' % item.price|float}} CHF</td>
            <td data-th="Anzahl">
                <form action="/modify_basket/{{item.id}}" ,="" method="post">
                    <input type="number" name="qty" class="form-control text-center" min="1" value="{{item.qty}}">
            </td>
            <td data-th="Subtotal" class="text-center">{{ '%0.2f' % (item.price * item.qty)|float}} CHF</td>
            <td class="actions" data-th="">
                <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-sync"></i>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
                </button><a href="/delete_basket/{{item.id}}"><button class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></button></a>
            </td>
        </tr>
        {% endfor %}
        <!--SHIPPING
        {% if shipping %}
        <tr>
            <td data-th="Produkt">
                <div class="row">
                    <div class="col-md-12">
                            <h4 class="nomargin">Lieferkosten (Pauschal)</h4>
                    </div>
                </div>
            </td>
            <td data-th="Preis">{{shipping}} CHF</td>
            <td data-th="Anzahl">1</td>
            <td data-th="Subtotal"class="text-center">{{shipping}} CHF</td>
            <td class="actions" data-th="">
            </td>
        </tr>
        SHIPPING-->
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <td>
            	<a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Weiter einkaufen</a>
            </td>
            <td colspan="2" class=""></td>
            <td class=" text-center">
                 <strong>{{'%0.2f' % basketTotal|float }} CHF</strong>
            </td>
            {%if basketDetails|length == 0%}
            <td><button class="btn btn-error btn-block" disabled>Warenkorb leer <i class="fa fa-times"></i></button></td>
            {% elif basketAmount % 6 != 0 %}
            <td><button class="btn btn-error btn-block" disabled>Warenkorb ungültig <i class="fa fa-times"></i></button>
            </td>
            {%else%}
            <td><a href="/checkout" class="btn btn-success btn-block">Bestellen <i class="fa fa-angle-right"></i></a></td>
        {%endif%}
    </tr>
    </tfoot>
</table>
<div class="alert alert-dismissible alert-info"><strong>Zu beachten!</strong> 
    <p>Ein Warenkorb ist nur gültig, wenn:</p>
    <ul>
        <li>Er mindestens 6 Flaschen beinhaltet.</li>
        <li>Die Gesamtanzahl aller zu bestellenden Flaschen durch 6 teilbar ist.</li>
    </ul>
</div>
</div>


{% endblock %}

{% block js %}
{% endblock %}