{% extends 'layout.html' %}

{% set title = 'Shop' %}

{% set basket_size = basket_size %}

{% block css %}
<style>
.container {
	padding-bottom: 90px;
	padding-top: 10px;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:25%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
</style>
{% endblock %}

{% block body %}
<div class="container">
	{% if error %}
	<div class="alert alert-dismissible alert-danger">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Error:</strong> {{ error }}
	</div>
	{% endif %}
		<h5>Bestellung</h5>

		<table id="cart" class="table table-hover table-sm">
		    <thead>
		        <tr>
		            <th style="width:30%">Produkt</th>
		            <th style="width:20%">Preis</th>
		            <th style="width:10%">Anzahl</th>
		            <th style="width:50%" class="text-center">Subtotal</th>
		        </tr>
		    </thead>
		    <tbody>
		    	{%for item in basketDetails %}
		        <tr>
		            <td data-th="Produkt">
		                <div class="row">
		                    <div class="col-md-12">
		                        	<h6 class="nomargin">{{item.name}}</h6>
		                    </div>
		                </div>
		            </td>
		            <td data-th="Preis">{{ '%0.2f' % item.price|float}} CHF</td>
		            <td data-th="Anzahl">{{item.qty}}</td>
		            <td data-th="Subtotal" class="text-center">{{'%0.2f' % (item.price * item.qty)|float}} CHF</td>
		        </tr>
		        {% endfor %}
		    </tbody>
		    <tfoot>
		        <tr>
		            <td>
		            </td>
		            <td colspan="2" class=""></td>
		            <td class=" text-center">
		            	<strong>Total: {{'%0.2f' % basketTotal|float}} CHF</strong>
		            </td>
		    </tr>
		    </tfoot>
		</table>
        {%if user%}
          <form method="post", action="/stripe_pay", class="" role="form">


		<fieldset class="form-group">
		      <legend>Versand</legend>
		      <div class="form-check">
		        <label class="form-check-label">
		          <input type="radio" class="form-check-input" name="delivery" id="optionsRadios1" value="Lieferung" checked="">
		          Lieferung <strong>(+15 CHF)*</strong>
		        </label>
		      </div>
		      <div class="form-check">
		      <label class="form-check-label">
		          <input type="radio" class="form-check-input" name="delivery" id="optionsRadios2" value="Abholung">
		          Abholung (Kostenfrei)
		        </label>
		      </div>
		    </fieldset>


            <fieldset>
                <!-- Form Name -->
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-center">
                            <script
                              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="{{ key }}"
                              data-name="JJ's Homebrew"
                              data-locale="auto"
                              data-shippingAddress="true"
                              data-currency="chf">
                            </script>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        {%else%}
        <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Hinweis:</strong> <a href="/signup">Erstelle ein Benutzerkonto</a>, um deine Bestellungen
          verfolgen zu können.
        </div>
        <form method="post", action="/stripe_pay", class="" role="form">


		<fieldset class="form-group">
		      <legend>Versand</legend>
		      <div class="form-check">
		        <label class="form-check-label">
		          <input type="radio" class="form-check-input" name="delivery" id="optionsRadios1" value="Lieferung" checked="">
		          Lieferung <strong>(+15 CHF)*</strong>
		        </label>
		      </div>
		      <div class="form-check">
		      <label class="form-check-label">
		          <input type="radio" class="form-check-input" name="delivery" id="optionsRadios2" value="Abholung">
		          Abholung (Kostenfrei)
		        </label>
		      </div>
		    </fieldset>






            <fieldset>
                <!-- Form Name -->
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-center">
                            <script
                              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="{{ key }}"
                              data-name="JJ's Homebrew"
                              data-locale="auto"
                              data-shippingAddress="true"
                              data-currency="chf">
                            </script>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        {%endif%}

        <div class="alert alert-dismissible alert-info"><strong>Lieferkosten</strong> 
    <p>* Die Kosten von 15 Franken (CHF) werden dem Total angerechnet. Lieferkosten fallen nur für Personen ausserhalb folgender Wohnorte an:</p>
    <ul>
    	<li>Schüpfen (3054)</li>
    	<li>Münchenbuchsee (3053)</li>
    </ul>	
    <p>Befindet sich der Lieferort innerhalb des oben genannten Bereiches, werden die Lieferkosten bei der Zahlung nicht berücksichtigt.</p>
</div>
    <!-- /.col-xl-12 -->
</div>
<!-- /.row -->


</div>
{% endblock %}

{% block js %}
<style>
.stripe-button-el {
  width: 100%;
  border-radius: 1.078em;
  
  font-size: 0.875em;
  background-color: #02B875;
}

.stripe-button-el span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  border-radius: 0;
  min-height: 50px;
  background-image: none;
  background-color: #02B875;
}
</style>
{% endblock %}