{% extends 'layout.html' %}

{% set title = 'Shop' %}

{% set basket_size = basket_size %}

{% block css %}
<style>
.container {
	padding-bottom: 90px;
	padding-top: 10px;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:25%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
</style>
{% endblock %}

{% block body %}
<div class="container">
	{% if error %}
	<div class="alert alert-dismissible alert-danger">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Error:</strong> {{ error }}
	</div>
	{% endif %}
<div class="row">
	<div class="col-lg-6 mx-md-auto">
		<h5>Bestellung</h5>

		<table id="cart" class="table table-hover table-sm">
		    <thead>
		        <tr>
		            <th style="width:30%">Produkt</th>
		            <th style="width:20%">Preis</th>
		            <th style="width:10%">Anzahl</th>
		            <th style="width:50%" class="text-center">Subtotal</th>
		        </tr>
		    </thead>
		    <tbody>
		    	{%for item in basketDetails %}
		        <tr>
		            <td data-th="Produkt">
		                <div class="row">
		                    <div class="col-md-12">
		                        	<h6 class="nomargin">{{item.name}}</h6>
		                    </div>
		                </div>
		            </td>
		            <td data-th="Preis">{{ '%0.2f' % item.price|float}} CHF</td>
		            <td data-th="Anzahl">{{item.qty}}</td>
		            <td data-th="Subtotal" class="text-center">{{'%0.2f' % (item.price * item.qty)|float}} CHF</td>
		        </tr>
		        {% endfor %}
		    </tbody>
		    <tfoot>
		        <tr>
		            <td>
		            </td>
		            <td colspan="2" class=""></td>
		            <td class=" text-center">
		            	<strong>Total: {{'%0.2f' % basketTotal|float}} CHF</strong>
		            </td>
		    </tr>
		    </tfoot>
		</table>
</div>
    <div class="col-lg-6 mx-md-auto">

    	{%if method == "pp"%}

    	{%if user%}
    	  <form method="post", action="/paypal_approve", class="" role="form">
            <fieldset>
                <!-- Form Name -->
                <legend>Lieferdetails</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Vorname</label>
                    <div class="col-md-12">
                        <input type="text" name="name" value="{{user.first_name}}" placeholder="Vorname" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Nachname</label>
                    <div class="col-md-12">
                        <input type="text" name="surname" value="{{user.last_name}}" placeholder="Nachname" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">E-Mail</label>
                    <div class="col-md-12">
                        <input type="email" name="email" value="{{user.email}}" placeholder="E-Mail" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Strasse</label>
                    <div class="col-md-12">
                        <input type="text" name="street" value="{{user.address}}" placeholder="Strasse" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Adresszusatz</label>
                    <div class="col-md-12">
                        <input type="text" name="streetadd" value="{{user.address_add}}" placeholder="Adresszusatz (Optional)" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                	<label class="col-md-4 form-control-label" for="textinput">Postleitzahl</label>
                    <div class="col-md-12">
                        <input type="number" name="postcode" value="{{user.zipcode}}" placeholder="Postleitzahl" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Stadt</label>
                    <div class="col-md-12">
                        <input type="text" name="city" value="{{user.state}}" placeholder="Stadt" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-paypal" aria-hidden="true"></i> Mit PayPal© zahlen</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    	{%else%}
    	<div class="alert alert-dismissible alert-info">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Hinweis:</strong> <a href="/signup">Erstelle ein Benutzerkonto</a>, um die Lieferdetails immer automatisch ausgefüllt zu bekommen und deine Bestellungen
		  verfolgen zu können.
		</div>
        <form method="post", action="/paypal_approve", class="" role="form">
            <fieldset>
                <!-- Form Name -->
                <legend>Lieferdetails</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Vorname</label>
                    <div class="col-md-12">
                        <input type="text" name="name" placeholder="Vorname" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Nachname</label>
                    <div class="col-md-12">
                        <input type="text" name="surname" placeholder="Nachname" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">E-Mail</label>
                    <div class="col-md-12">
                        <input type="email" name="email" placeholder="E-Mail" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Strasse</label>
                    <div class="col-md-12">
                        <input type="text" name="street" placeholder="Strasse" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Adresszusatz</label>
                    <div class="col-md-12">
                        <input type="text" name="streetadd" placeholder="Adresszusatz (Optional)" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                	<label class="col-md-4 form-control-label" for="textinput">Postleitzahl</label>
                    <div class="col-md-12">
                        <input type="number" name="postcode" placeholder="Postleitzahl" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Stadt</label>
                    <div class="col-md-12">
                        <input type="text" name="city" placeholder="Stadt" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-paypal" aria-hidden="true"></i> Mit PayPal© zahlen</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        {%endif%}

        <!--Credit card-->
        {% else %}


		{%if user%}
    	  <form method="post", action="/stripe_pay", class="" role="form">
            <fieldset>
                <!-- Form Name -->
                <legend>Lieferdetails</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Vorname</label>
                    <div class="col-md-12">
                        <input type="text" name="name" value="{{user.first_name}}" placeholder="Vorname" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Nachname</label>
                    <div class="col-md-12">
                        <input type="text" name="surname" value="{{user.last_name}}" placeholder="Nachname" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">E-Mail</label>
                    <div class="col-md-12">
                        <input type="email" name="email" value="{{user.email}}" placeholder="E-Mail" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Strasse</label>
                    <div class="col-md-12">
                        <input type="text" name="street" value="{{user.address}}" placeholder="Strasse" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Adresszusatz</label>
                    <div class="col-md-12">
                        <input type="text" name="streetadd" value="{{user.address_add}}" placeholder="Adresszusatz (Optional)" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                	<label class="col-md-4 form-control-label" for="textinput">Postleitzahl</label>
                    <div class="col-md-12">
                        <input type="number" name="postcode" value="{{user.zipcode}}" placeholder="Postleitzahl" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Stadt</label>
                    <div class="col-md-12">
                        <input type="text" name="city" value="{{user.state}}" placeholder="Stadt" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-right">
                            <!--<button type="submit" class="btn btn-primary"><i class="fa fa-paypal" aria-hidden="true"></i> Mit Kreditkarte zahlen</button>-->
                            <script
							  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							  data-key="{{ key }}"
							  data-amount="{{ basketTotal * 100 }}"
							  data-name="JJ's Homebrew"
							  data-locale="auto"
                              data-shippingAddress="true"
                              data-billingAddress="true"
							  data-currency="chf">
							</script>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    	{%else%}
    	<div class="alert alert-dismissible alert-info">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Hinweis:</strong> <a href="/signup">Erstelle ein Benutzerkonto</a>, um die Lieferdetails immer automatisch ausgefüllt zu bekommen und deine Bestellungen
		  verfolgen zu können.
		</div>
        <form method="post", action="/stripe_pay", class="" role="form">
            <fieldset>
                <!-- Form Name -->
                <legend>Lieferdetails</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Vorname</label>
                    <div class="col-md-12">
                        <input type="text" name="name" placeholder="Vorname" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Nachname</label>
                    <div class="col-md-12">
                        <input type="text" name="surname" placeholder="Nachname" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">E-Mail</label>
                    <div class="col-md-12">
                        <input type="email" name="email" placeholder="E-Mail" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Strasse</label>
                    <div class="col-md-12">
                        <input type="text" name="street" placeholder="Strasse" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Adresszusatz</label>
                    <div class="col-md-12">
                        <input type="text" name="streetadd" placeholder="Adresszusatz (Optional)" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                	<label class="col-md-4 form-control-label" for="textinput">Postleitzahl</label>
                    <div class="col-md-12">
                        <input type="number" name="postcode" placeholder="Postleitzahl" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Stadt</label>
                    <div class="col-md-12">
                        <input type="text" name="city" placeholder="Stadt" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-right">
                            <!--<button type="submit" class="btn btn-primary"><i class="fa fa-paypal" aria-hidden="true"></i> Mit Kreditkarte zahlen</button>-->
                            <script
                              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="{{ key }}"
                              data-amount="{{ basketTotal * 100 }}"
                              data-name="JJ's Homebrew"
                              data-locale="auto"
                              data-shippingAddress="true"
                              data-billingAddress="true"
                              data-currency="chf">
                            </script>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        {%endif%}



        {%endif%}


    </div>
    <!-- /.col-xl-12 -->
</div>
<!-- /.row -->


</div>
{% endblock %}

{% block js %}
{% endblock %}