{% extends 'layout.html' %}

{% set title = 'Shop' %}

{% set basket_size = basket_size %}

{% block css %}
<style>
.container {
	padding-bottom: 90px;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
	{% if error %}
	<div class="alert alert-dismissible alert-danger">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Error:</strong> {{ error }}
	</div>
	{% endif %}
	{% if success %}
	<div class="alert alert-dismissible alert-success">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Erfolg:</strong> {{ success }}
	</div>
	{% endif %}
{% for beer_row in beers | batch(2, None) %}
<div class="row" style="padding-top: 20px;">
	{% for beer in beer_row %}
	{% if beer.enabled %}
  	<!--<div class="col-6 col-md-6">-->
  		<br/>
  		<div class="col-md-6" style="padding-bottom: 20px;">
  		<div class="card">
		  <h3 class="card-header"><i class="fa fa-beer" aria-hidden="true"></i> {{beer.name}}</h3>
		  <div class="card-body">
		    <h5 class="card-title">{{beer.price}} CHF</h5>
		    <h6 class="card-subtitle text-muted">Alc. {{beer.alc}}%</h6>
		  </div>
		  {%if beer.img == ""%}
		  <img class="img-thumbnail" style="height: auto; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
		  {%else%}
		  <img class="img-thumbnail" style="height: auto; width: 100%; display: block;" src="/{{beer.img}}" >
		  {%endif%}
		  <div class="card-body">
		    <p class="card-text">Details: {{beer.description}}</p>
		  </div>
		  <div class="card-footer text-muted">
		    <!--<a href="/add_to_basket/{{beer.id}}" class="btn btn-primary">In den Warenkorb</a>-->
		    <form action="/add_to_basket/{{beer.id}}" method="POST">
		    	<legend>Bestellen</legend>
		    	<div class="input-group">
                    <div class="input-group-prepend">
                    	<span class="input-group-text">Anzahl: </span>
                    	</div>
                     <input type="number" class="form-control" value="1" name="quantity" placeholder="Anzahl" min="1" max="{{beer.stock}}" required>
                 </div>
		    	<br/>
		         {% if beer.stock > 6 %}
		         	<button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> In den Warenkorb</button>
		         {%else%}
		         	<button class="btn btn-warning" disabled><i class="fa fa-times" aria-hidden="true"></i> Nicht an Lager</button>
		         {% endif %}
		         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>   
			</form>
		  </div>
		</div>
	</div>
	{% else %}
	{% endif %}
  	{%endfor%}
</div>
{% endfor %}
</div>
{% endblock %}

{% block js %}
{% endblock %}