<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
		{% block css %}
		{% endblock %}

	</head>
	<body>
		<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">JJ's Homebrew</a>
		   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
 			</button>
 			  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Start<span class="sr-only">(current)</span></a>
		      </li>
		      <!--<li class="nav-item">
		         <a class="nav-link" href="/news"><i class="fa fa-exclamation" aria-hidden="true"></i> News / Alerts</a>
		      </li>
		      <li class="nav-item dropup">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		         <i class="fa fa-question" aria-hidden="true"></i> Instructions
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Android</a>
		          <a class="dropdown-item" href="#">iOS</a>
		          <a class="dropdown-item" href="#">Windows</a>
		          <a class="dropdown-item" href="#">macOS</a>
		          <a class="dropdown-item" href="#">Linux</a>
		        </div>
		      </li>-->
		    </ul>
		    <ul class="nav navbar-nav ml-auto">
		            <!--<li class="nav-item">
		              <li><span class="navbar-text text-warning"><i class="fa fa-clock-o" aria-hidden="true"></i> Account expires: {{ session["expires"] }}</span></li> 
		            </li>-->
		            <li class="nav-item">
		               <li><a class="nav-link" href="/basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Warenkorb <span class="navbar-text badge badge-pill badge-dark">{{basket_size}}</span></a></li>
		            </li>
		            {%if 'username' in session %}
		            <li class="nav-item dropup">
				        <a class="nav-link dropdown-toggle" href="/user" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				         <i class="fa fa-user" aria-hidden="true"></i> Profil
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="/user/config"><i class="fa fa-user" aria-hidden="true"></i> Benutzerkonto</a>
				          <a class="dropdown-item" href="/user/orders"><i class="fa fa-list" aria-hidden="true"></i> Bestellungen</a>
				        </div>
				      </li>
		           <!--<li class="nav-item">
		               <li><a class="nav-link" href="/user"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
		            </li>-->
		            <li class="nav-item">
		               <li><a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Logout</a></li>
		            </li>
		            {%else%}
		            <li class="nav-item">
		               <li><a class="nav-link" href="/login"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Login</a></li>
		            </li>
		            {% endif %}
		          </ul>
		  </div>
		</nav>




		{% block body %}
		{% endblock %}     
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		{% block js %}
		{% endblock %}

	</body>
</html>
