{% extends 'layout.html' %}

{% set title = 'Bestellungen' %}

{% set basket_size = basket_size %}

{% block css %}
{% endblock %}

{% block body %}

<div class="container" style="padding-top: 20px; padding-bottom: 70px;">
<h4 class="display-4">Bestellungen</h4>
{%if userOrders|length == 0%}
<p>Keine Bestellungen</p>
{%else%}
	<div class="list-group" style="padding-top: 20px; padding-bottom: 70px;">
	{%for order in userOrders %}
	  <a href="/user/orders/details/{{order.id}}" class="list-group-item list-group-item-action">
	    <h4 class="list-group-item-heading">Bestellnummer: {{order["id"]}}</h4>

		<table class="table table-bordered">
		  <thead class="thead-light">
		    <tr>
		      <th>Bestelldatum</th>
		      <th>Versandart</th>
		      <th>Versandstatus</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>{{order["order_date"]}}</td>
		      {%if order["is_shipment"] %}
		      <td><span class="badge badge-info"><i class="fas fa-truck"></i> Lieferung</span></td>
		      {%else%}
		      <td><span class="badge badge-info"><i class="fas fa-shopping-bag"></i> Abholung</span></td>
		      {%endif%}
		      {%if order["is_finished"]%}
		      <td><span class="badge badge-success">Versendet</span></td>
		      {%else%}
		      <td><span class="badge badge-danger">Offen</span></td>
		      {%endif%}
		    </tr>
		  </tbody>
		</table> 



	 
	  </a>
	{%endfor%}
	</div>

	{% if userOrders|length < 10 and page == 1 %}
	<!--NOTHING-->
	{% elif userOrders|length == 10 and page == 1 %}
	<a href="/user/orders/{{page + 1}}"><button type="button" class="btn btn-primary">Älter <i class="fa fa-angle-right" aria-hidden="true"></i></button></a>
	{% elif userOrders|length < 10 %}
	<a href="/user/orders/{{page - 1 }}"><button type="button" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Neuer</button></a>
	{% else %}
	<a href="/user/orders/{{page - 1 }}"><button type="button" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Neuer</button></a>
	<a href="/user/orders/{{page + 1}}"><button type="button" class="btn btn-primary">Älter <i class="fa fa-angle-right" aria-hidden="true"></i></button></a>
	{% endif %}

{%endif%}
</div>
{% endblock %}

{% block js %}
{% endblock %}