{% extends 'layout.html' %}

{% set title = 'Details' %}

{% set basket_size = basket_size %}

{% block css %}
{% endblock %}

{% block body %}

<div class="container" style="padding-top: 20px; padding-bottom: 70px;">
	<a href="/user/orders"><i class="fa fa-angle-left" aria-hidden="true"></i> Alle Bestellungen</a>
	<div class="jumbotron">
	  <h1 class="display-4">Bestellung</h1>

	    <h3><i class="fa fa-info-circle" aria-hidden="true"></i> Bestelldetails</h3>
	    <ul class="list-group">
	    	<li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Bestellnummer:</strong></span>
		    {{orderDetails.id}}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Bestelldatum:</strong></span>
	  		{{orderDetails.order_date}}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Versandart:</strong></span>
		    {%if orderDetails.is_shipment %}
		    	<span class="badge badge-info">Lieferung</span>
		    {%else%}
		    	<span class="badge badge-info">Abholung</span>
		    {%endif%}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Versandstatus:</strong></span>
		    {%if orderDetails.is_finished %}
		    	<span class="badge badge-success">Versendet</span>
		    {%else%}
		    	<span class="badge badge-danger">Offen</span>
		    {%endif%}
		  </li>
		</ul>
		<hr/>
		<br/>
	    <h3><i class="fa fa-address-card-o" aria-hidden="true"></i> Kundendetails</h3>
	    <ul class="list-group">
	    	<li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Name:</strong></span>
		    {{ paymentObject["payer_name"] }}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Zahlungsmail:</strong></span>
		   {{ paymentObject["payer_email"] }}
		  </li>
		  <li class="list-group-item">
		    <span class="tag tag-default tag-pill float-xs-right"><strong>Adresse:</strong></span><br/>
		    {{ paymentObject["payer_line1"] }}<br/>
		    {{ paymentObject["payer_postcode"] }} {{ paymentObject["payer_city"] }}
		  </li>
		</ul>
		<br/>
		<hr/>
		<br/>
	  	<h3><i class="fa fa-shopping-basket" aria-hidden="true"></i> Artikel</h3>
		<table class="table table-striped table-hover table-bordered borderless">
		  <thead class="thead-dark">
		    <tr>
		      <th>Name</th>
		      <th>Menge</th>
		      <th>Einzelpreis</th>
		      <th>Subtotal</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{%for item in paymentObject["items"]%}
			<tr>
		      <td>{{ item["description"] }}</td>
		      <td>{%if item["quantity"] != None %}{{ item["quantity"] }}{% else %}-{%endif%}</td>
		      <td>{%if item["quantity"] != None %}{{ '%0.2f' % (item["amount"]/100/item["quantity"])|float }}{% else %}-{%endif%}</td>
		      <td>{{ '%0.2f' % (item["amount"]/100)|float }}</td>
		    </tr>
			{%endfor%}
		  </tbody>
		   <tfoot>
		    <tr>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td><strong><i class="fa fa-money" aria-hidden="true"></i> Total: {{ '%0.2f' % (paymentObject["total_cost"]/100)|float }} CHF</trong></td>
		    </tr>
  	</tfoot>
		</table> 
	  <br/>

	</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}