{% extends 'layout.html' %}

{% set title = 'Zahlungsvarianten' %}

{% set basket_size = basket_size %}

{% block css %}
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 20px; padding-bottom: 70px;">
<h4 class="display-4">Zahlungsvariante</h4>
<div class="list-group" style="padding-top: 20px; padding-bottom: 70px;">
  <a href="/checkout?method=cc" class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading"><i class="fa fa-credit-card" aria-hidden="true"></i> Kreditkartenzahlung</h4>
    <p class="list-group-item-text"></p>
  </a>
  <a href="/checkout?method=pp" class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading"><i class="fa fa-paypal" aria-hidden="true"></i> Zahlung mit PayPal©</h4>
    <p class="list-group-item-text"></p>
  </a>
</div>

</div>
{% endblock %}

{% block js %}
{% endblock %}