<!DOCTYPE html>
<html lang="de">
<head>
<title>JJ's Homebrew | Login</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
	body {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}

	.form-signin {
	  max-width: 330px;
	  padding: 15px;
	  margin: 0 auto;
	}
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
	  margin-bottom: 10px;
	}
	.form-signin .checkbox {
	  font-weight: normal;
	}
	.form-signin .form-control {
	  position: relative;
	  height: auto;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
</style>
</head>
<body>
<div class="container">
	{% if error %}
	<div class="alert alert-dismissible alert-danger">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Error:</strong> {{ error }}
	</div>
	{% endif %}
	{% if success %}
	<div class="alert alert-dismissible alert-success">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Erfolg:</strong> {{ success }}
	</div>
	{% endif %}
	<a href="/"><i class="fa fa-angle-left" aria-hidden="true"></i> Zurück zur Startseite</a>
<form method="post", action="/signup", class="" role="form">

            <fieldset>
                <!-- Form Name -->
                <legend>Benutzerkonto anlegen</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Benutzername</label>
                    <div class="col-md-12">
                        <input type="text" name="username" placeholder="Benutzername" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Passwort</label>
                    <div class="col-md-12">
                        <input type="password" name="pw" placeholder="Passwort" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Passwortkontrolle</label>
                    <div class="col-md-12">
                        <input type="password" name="pw2" placeholder="Passwortkontrolle" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">E-Mail</label>
                    <div class="col-md-12">
                        <input type="email" name="email" placeholder="E-Mail" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrieren</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
<div class="container">
</body>
</html>
