{% extends "layout.html" %}
{% block body %}
 <div class="container">
  <form action="/" method="POST">
	<script
	  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	  data-key="{{ key }}"
	  data-amount="{{ amount }}"
	  data-name="JJ's Homebrew"
	  data-email="{{email}}"
	  data-locale="auto"
	  data-currency="chf">
	</script>
</form>
</div>
{% endblock %}