{% extends 'layout.html' %}

{% set title = 'Benutzerkonto verwalten' %}

{% set basket_size = basket_size %}

{% block css %}
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 20px; padding-bottom: 70px;">
<h4 class="display-4">Konto</h4>
{% if error %}
	<div class="alert alert-dismissible alert-danger">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Error:</strong> {{ error }}
	</div>
{% endif %}
{% if success %}
	<div class="alert alert-dismissible alert-success">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>Erfolg:</strong> {{ success }}
	</div>
{% endif %}





<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Benutzerinformationen
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block" style="padding: 10px;">
        <form method="post", action="/user/config/save", class="" role="form">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput" >Vorname</label>
                    <div class="col-md-12">
                        <input type="text" name="name" value="{{user.first_name}}" placeholder="Vorname" class="form-control">
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Nachname</label>
                    <div class="col-md-12">
                        <input type="text" name="surname" value="{{user.last_name}}" placeholder="Nachname" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Strasse</label>
                    <div class="col-md-12">
                        <input type="text" name="street" value="{{user.address}}" placeholder="Strasse" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Adresszusatz</label>
                    <div class="col-md-12">
                        <input type="text" name="streetadd" value="{{user.address_add}}" placeholder="Adresszusatz (Optional)" class="form-control">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                	<label class="col-md-4 form-control-label" for="textinput">Postleitzahl</label>
                    <div class="col-md-12">
                        <input type="number" name="postcode" value="{{user.zipcode}}" placeholder="Postleitzahl" class="form-control">
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Stadt</label>
                    <div class="col-md-12">
                        <input type="text" name="city" value="{{user.state}}" placeholder="Stadt" class="form-control">
                    </div>
                </div>
			    <div class="form-check">
			      <label class="form-check-label">
			      	{%if user.has_newsletter%}
			      	<input type="checkbox" class="form-check-input" name="newsletter" checked>
			      	{%else%}
			      	<input type="checkbox" class="form-check-input" name="newsletter">
			      	{%endif%} 
			        Ich möchte den Newsletter erhalten
			      </label>
			    </div>
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Änderungen speichern</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>       
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Passwort
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block" style="padding: 10px;">
	<form method="post", action="/user/config/changepass", class="" role="form">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput" >Altes Passwort</label>
                    <div class="col-md-12">
                        <input type="password" name="old" value="" placeholder="Altes Passwort" class="form-control" required>
                    </div>
                    <label class="col-md-4 form-control-label" for="textinput">Neues Passwort</label>
                    <div class="col-md-12">
                        <input type="password" name="new1" value="" placeholder="Neues Passwort" class="form-control" required>
                    </div>
                    <div class="form-group">
                    <label class="col-md-4 form-control-label" for="textinput">Neues Passwort wiederholen</label>
                    <div class="col-md-12">
                        <input type="password" name="new2" value="" placeholder="Neues Passwort wiederholen" class="form-control" required>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <div class="mx-sm-auto col-md-12">
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Neues Passwort speichern</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>       
      </div>
    </div>
  </div>
</div>












</div>
{% endblock %}

{% block js %}
{% endblock %}