{% extends 'layout.html' %}

{% set title = 'Profil' %}

{% set basket_size = basket_size %}

{% block css %}
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 20px; padding-bottom: 70px;">
<h4 class="display-4">Profil</h4>
<div class="list-group" style="padding-top: 20px; padding-bottom: 70px;">
  <a href="/user/config" class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading"><i class="fa fa-user" aria-hidden="true"></i> Benutzerkonto</h4>
    <p class="list-group-item-text">Verwalte hier dein Benutzerkonto.</p>
  </a>
  <a href="/user/orders" class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading"><i class="fa fa-list" aria-hidden="true"></i> Bestellungen</h4>
    <p class="list-group-item-text">Schau dir deine Bestellungen an.</p>
  </a>
</div>

</div>
{% endblock %}

{% block js %}
{% endblock %}